/**
 * @name OG-Discord(CatppuccinMacchiato)
 * @author Alpn4, (and also dom1torii by making stuff i forked, thanks:3).
 * @description COLORS DESC - Moderately dark blue colors
 * @website https://github.com/Alpn4something/OG-Discord
 * @version 1.0
*/

@import url("https://raw.githubusercontent.com/Alpn4something/OG-Discord/refs/heads/Resources-branch/OG-Discord(ForImportUrl-colorless).css");

/* --- Settings --- */
* {
    --font: "arial"; /* Change to "" for default font */
}

/* Colors */
* {
    --custom-bg: #24273a;
    --custom-secondary-bg: #1e2030;
    --custom-secondary-bg-brighter: #28293a; /* used for some buttons and other things. E.G - "Friends" button on top of the chat list */
    --alpn4-custom-bg-brighter: #323446; /* Janky way to match some bugged button colors. Usage example - every single user banner */
    --alpn4-custom-bg-brighter2: #3d3f52; /* Like custom bg but brighter */
    --alpn4-custom-bg-black: #2b2d3e; /* Like my 1st color but less bright */

    --custom-accent: #a5adf8;
    --custom-secondary-accent: #7093d7;
    --custom-secondary-accent-brighter: #98bbff; /* brighter secondary */
    --custom-accent-colormix: #445174; /* custom accent + transparent colormix workarround */
    --custom-accent-compactchat: color-mix(var(--custom-secondary-accent) 100%, transparent 95%);;

    --dark-border: #181926;
    --light-border: #8087a2;

    --dark-border-reaction: color-mix(var(--custom-secondary-accent) 30%, var(--dark-border) 100%);
    --light-border-reaction: color-mix(var(--custom-secondary-accent) 100%, var(--light-border) 40%);

    --dark-border-separator: var(--dark-border); /* in case you'd like to get rid of separator shadows for your own theme */
    --light-border-separator: var(--light-border);

    --custom-text: #cad3f5;
    --custom-secondary-text: #a2aac7;

    --custom-somebuttons: #cdcdcd;

    /* ↓Even more color customization because why not. Use if needed :) */

    --microphone-test-gradient: linear-gradient(to right, var(--custom-secondary-accent) 0%, var(--custom-secondary-accent-brighter) 30%, var(--custom-accent) 55%, red 100%);

    --custom-bg-caret: color-mix(var(--custom-bg) 100%, white 3%); /* color for popovers when hovering on a server icon, buttons on top of the chat like pinned msgs... You get it */

    --custom-text-newmessagesbar: #1d2021; /* can be darkened if custom-accent is too bright */

    --custom-secondary-text-brighter: #b0b7d6; /* used for settings. Just in case the secondary text color is a little too dark */

    --custom-userarea-buttons-color: #b7bdf8;

    --custom-reactions-dropshadow: #2f4169; /* Change to "transparent" to hide this... Ooor just delete the drop-shadow code */

    --custom-notifications: #101624; /* Not only notifs but any main red stuff, really. E.G - screen sharing */

    --custom-boostgoal:  color-mix(var(--custom-secondary-accent) 100%, transparent 50%); /* uses secondary accent by default. Change if you feel like. */

    /* ↓Status colors - used for unrounding.css */

    --online-2: #54a5c4;
    --dnd-2: #d83a41;
    --idle-2: #ca9654;
    --offline-2: #82838b;
    --streaming-2: #9147ff;

}

/* Colors2 - custom blurple hsl prep */
/* IF MODDING MY STUFF - READ PLS! Context time - Discord's blurple sometimes uses hsl */
/* What this means to you, is that these parameters will affect some blurple. Obviously use hsl */

* {
    --blurpleHSL-hue: 223.1; /* Hue (obviously) */
    --blurpleHSL-sat: 23.2%; /* Saturation (in %) */
    --blurpleHSL-lig: 50.8%; /* Light (in %) */
}
/* Logo setup */
* {
    --custom-logo: url(https://raw.githubusercontent.com/Alpn4something/OG-Discord/fbc2e8dc450d1821aa683773e84f60fdc8d5f4cb/Source/steam-logo.svg) !important; /* same as discord 1.6, but just in case the link changes, i decided to port it to my own repo */
    --custom-logo-text: url(https://raw.githubusercontent.com/Alpn4something/OG-Discord/refs/heads/Resources-branch/Source/steam-logo-OGDtext.png) !important; /* custom OGD logo */
    --custom-loading1: url(https://raw.githubusercontent.com/Alpn4something/OG-Discord/refs/heads/Resources-branch/Source/loading%20COMPILED/Loading%20macchiato.png) !important;    
}
/*SETTINGS - END*/
